.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    font-weight: 700;
}

.login-form input {
    flex-grow: 1;
    font: inherit;
    padding: 0.2rem;
    border-radius: 12px;
    border: 1px solid #ccc;
}
